h1 {
  font-weight: 400;
}
.book-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .book {
    width: 12rem;
  }
  
  .status {
    font-style: italic;
  }
  
  .book-cover {
    max-height: 22rem;
    object-fit: cover;
    border: 0.2rem solid black;
  }
  